@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


html::-webkit-scrollbar,

body::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  
  scrollbar-width: none;   
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer base {
}

@layer components {
  .tag {
    @apply rounded-full bg-cyan-100 px-2.5 py-1 text-[10px] font-semibold text-cyan-600 md:px-3 md:text-xs;
  }

  .price {
    @apply flex flex-wrap items-end  gap-2 md:mt-6 md:gap-3    tracking-tight  leading-snug   text-lg md:text-xl;
  }

  .name {
    @apply leading-snug  text-sm md:text-base;
  }

  .button {
    @apply w-full rounded-lg text-cyan-600 bg-white  bordered  py-2   transition  active:scale-[0.98] text-sm   md:px-6  md:text-lg;
  }

  .btn {
    @apply py-1 text-sm    text-cyan-700 bg-white  bordered    px-6 ;
  }
  .bg-color {
    @apply bg-cyan-600;
  }
  .bordered {
    @apply border-[1px] border-cyan-600;
  }
  .container {
    @apply p-4 ;
  }

  /*  */
  label {
    @apply text-sm mb-2 px-3  
  }
  .label {
    @apply text-sm mb-2 px-3  
  } 
  
    .field {
    @apply w-full p-3 py-2 mt-1 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-500;
  }

  .error-message {
    @apply absolute text-red-500 text-xs mt-[2px];
  }
}
